<div class="container mt-3">
  <h1>Mes prêts à valider</h1>
  <div class="cards">
    <% @requests.each do |request| %>
      <% if request.status == "pending" %>
        <div class="card-request">
          <% if request.item.photo.key %>
            <%= cl_image_tag request.item.photo.key %>
          <% else %>
            <%= image_tag(request.item.picture) %>
          <% end %>
          <div class="card-request-infos">
            <h2><%= request.item.name %></h2>
            <p><i class="fa-regular fa-calendar"></i> du <%= request.start_date.strftime("%d/%m/%Y") %> au <%= request.end_date.strftime("%d/%m/%Y") %></p>
            <p>demande faite par <%= request.user.name %></p>
          </div>
          <div class="card-request-buttons">
            <%= button_to "Je valide", booking_path(request),
                      method: :patch,
                      form_class: 'update-alertbox',
                      class: "btn btn-blue"
            %>
            <%= button_to "Je refuse", booking_path(request),
                      method: :delete,
                      form_class: 'delete-alertbox',
                      class: "btn btn-orange"
            %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
    <br>
    <h1>Mes prêts validés</h1>
    <div class="cards">
    <% @requests.each do |request| %>
      <% if request.status == "confirmed" %>
        <div class="card-request">
          <% if request.item.photo.key %>
            <%= cl_image_tag request.item.photo.key %>
          <% else %>
            <%= image_tag(request.item.picture) %>
          <% end %>
          <div class="card-request-infos">
            <h2><%= request.item.name %></h2>
            <p><i class="fa-regular fa-calendar"></i> du <%= request.start_date.strftime("%d/%m/%Y") %> au <%= request.end_date.strftime("%d/%m/%Y") %></p>
            <p>demande faite par <%= request.user.name %></p>
          </div>
          <div class="card-request-buttons">
            <%= link_to "Voir la réservation", booking_path(request), class:"btn btn-blue" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
