<div data-controller="photo-preview">
  <%= simple_form_for @item do |f|%>
    <%= f.input :name, label: "Nom de l'objet", placeholder: "Exemple : Marteau ninja", label_html: { class: 'fw-bold' }, input_html: { class: 'text-opacity-25 mb-4' } %>
    <%= f.input :category, collection: Item::CATEGORIES, label: "Catégorie", as: :radio_buttons, item_wrapper_class: 'fw-bold', input_html: { class: 'tag-selector mb-4' },
                    item_wrapper_class: 'tag-item' %>
    <%= f.input :photo, as: :file, input_html: { class: 'd-none mb-4', data: { photo_preview_target: 'input', action:'change->photo-preview#displayPreview' }}, label_html: { class: 'upload-photo'}, label: '📷 Ajouter une photo'%>
    <%= image_tag "", width: 250, class: 'hidden mb-4', data: { photo_preview_target: 'preview' }%>
    <%= f.input :description, label: "Description", placeholder: "Exemple : Avec ce marteau, chaque clou est un ennemi vaincu sans pitié. Garantie de ne pas confondre vos pouces avec des cibles.", label_html: { class: 'fw-bold' }, input_html: { class: 'fw-lighter mb-4' }%>
    <%= f.submit text_button, class: "btn btn-blue mt-4" %>
  <% end %>
</div>
