<div class="container mt-3">
  <h1>Mes objets</h1>

  <% if @items == [] %>

<p>Vous n'avez pas encore ajouté d'objets.</p>

  <% else %>
  <div class="cards-items">
    <% @items.each do |item| %>
      <%= link_to item_path(item) do %>
        <div class="card-item">
          <% if item.photo.key %>
            <%= cl_image_tag item.photo.key %>
          <% else %>
            <img src="<%= item.picture %>" alt="<%= item.name %>">
          <% end %>
          <div class="card-item-infos">
            <h2><%= item.name %></h2>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <% end %>

</div>
